.navbar {
    /* border: 2px solid white; */
    padding-inline: 7%;
    background-color:hwb(180 16% 81%);
    margin-left: auto;
    margin-right: auto;

  }

  .form-inline input {
    margin-right: 1rem;
  }

  .navbar-brand b {
    color: white;
    font-weight: bold;
  }
  